@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-hover-effect::before {
  /* El gradiente que se va a mover */
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Inicia fuera del bot칩n, a la izquierda */
  width: 200%; /* Duplica el ancho para que la 'flecha' pueda deslizarse */
  height: 100%;
  z-index: -1; /* Va detr치s del texto */

  /* El gradiente que quieres que recorra el bot칩n */
  background: linear-gradient(270deg, #0094d9 8.26%, #00539f 100%);

  /* Transici칩n suave al hacer hover */
  transition: transform 0.3s ease-in-out;
}

.slide-hover-effect:hover::before {
  /* Al hacer hover, desliza el pseudo-elemento hacia la derecha */
  transform: translateX(50%);
}
