@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) { /* Breakpoint 'sm' de Tailwind */
  /* 495px (ancho de la tarjeta) + 24px (gap-6) = 519px */
  .overflow-hidden {
    --slide-distance: 519px !important; 
  }
}